<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!--Описание службы-->
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NewBehavior0">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="BacLabServer.MessageService" behaviorConfiguration="NewBehavior0">
        <endpoint name="ep1" address="net.tcp://localhost/BacLabServer/ep1" binding="netTcpBinding" bindingConfiguration="ReliableTcp" contract="BacLabServer.IMessageService" />
        <endpoint name="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/BacLabServer" />
          </baseAddresses>
          <!--время после закрытия для отключения клиентов-->
          <timeouts closeTimeout="00:00:20" />
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <!--Контроль доставки сообщений + транзакции  + время ожидания клиентом отклика службы-->
        <binding name="ReliableTcp" transactionFlow="true" sendTimeout="00:01:00">
          <reliableSession enabled="true" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings><add name="BacLab_DBEntities" connectionString="metadata=res://*/ModelDB.csdl|res://*/ModelDB.ssdl|res://*/ModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN-ПК\SQLEXPRESS;initial catalog=BacLab_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>